@use "../../common" as *;

.search-weather {
  margin: 0 auto;
  min-width: 40vw;
  background-color: rgba(251, 255, 0, 0.8);
  border-radius: 25px;
  padding: 15px;
  box-shadow: 0px 5px 10px black;
  .error-input {
    border: red;
    color: red;
  }
  .error-input::placeholder {
    color: red;
  }
  .wright-input {
    border: black;
    color: black;
  }
  h1 {
    text-align: center;
  }
  label {
    font-weight: bold;
  }
  input {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    border-radius: 25px;
    width: 20vw;
    height: 8vh;

    padding: 3px 15px;
  }
  &-in {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  img {
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: 0.5s;
    @include mobileClick;
  }
  img:hover {
    scale: 1.1;
  }
}

@include breakPoint(desktop) {
  .search-weather {
    &-in {
      label {
        text-align: center;
        max-width: 250px;
      }
      input {
        min-width: 250px;
      }
    }
  }
}

@include breakPoint(phone) {
  .search-weather {
    &-in {
      flex-direction: column;
    }
    input {
      @include mobileClick;
    }
    img {
      @include mobileClick;
    }
  }
}
