.container-header{
  grid-area: container-header;
  background-image: url('../../images/header.jpg');
  background-position-y: 55%;
  background-position-x: 50%;
 background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: rgb(0, 136, 255);
  box-shadow: 5px 5px 10px #888888;
    border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  
  h1{
    font-size: 50px;
    margin: 0;
  }
  p{
    font-size: 35px;
    max-width: 600px;
    margin: 0;
    font-weight: bold;
  }
}