@use "../../common" as *;

.container-footer {
  grid-area: container-footer;
  color: black;
  display: flex;
  justify-content: space-between;
  box-shadow: 5px -5px 10px #888888;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  &-logo {
    width: 100px;
    height: 100px;
  }
  &-link {
    display: flex;
    gap: 50px;
    font-size: 30px;
    align-items: center;
    margin-right: 50px;

    &-obj {
      cursor: pointer;
      font-weight: bold;
      padding: 15px;
      border-radius: 25px;
    }
    &-obj:hover {
      color: aquamarine;
      background-color: #888888;
    }
  }
}

@include breakPoint(laptop) {
  .container-footer {
    display: none;
  }
}
